$bg-color: #FFFCF2;
$celeste:#108896;
$naranjaClaro:#F19F1F;
$naranjaFuerte:#fc7405;

//Color tipografia//
$texto1: rgb(112, 102, 102);
$textoSub:rgb(54, 50, 37);

//Colores cajas items//
$itemCarousel:rgb(220, 230, 252);