//Display//

@mixin flex {
    display: flex;
    align-items: center;
    align-content: center;
}

//Tipografia//
@mixin tituloRammetto ($fontsize){
    display: inline-block;
    position: relative;
    font-family: 'Rammetto One';
    font-size: $fontsize;
}
@mixin textoThambi ($fontsize, $weight) {
    font-size: $fontsize;
    font-weight: $weight;
}
@mixin SubtitulosIndex{
    display: inline-block;
    position: relative;
    font-size: 2em;
    color: #fdffff;
    font-weight: 900;
    border-radius: 1.5625em;
    border-right: solid 0.1875em $celeste;
    border-bottom: solid 0.25em $celeste;
    padding: 0.4em 1.2em 0.4em 1.2em;
    background-color:#7abeb9;

    //MEDIA QUERIES//
    @include smarthphone{
        font-size: 17px;
        margin-bottom: 1em;
    }
}
//Portadas//
    //Index Carousel//
@mixin carousel_cajas {
    background-color: #a7a7a421;
    border-radius:40px;
    padding: 20px 0px 20px 0px;
    width: 53%;
    box-shadow: 3px 3px 8px rgb(70, 67, 53);
    transition: 1s linear;
    overflow: hidden;
    padding-top: 35px;
    border: rgb(255, 255, 255) solid;
    z-index: 1;
    @include tablet {
        font-size: 10px;
        width: 60%;
    }
}

    //Index Inicio imagenes animadas//
    @mixin imagenes_animadas{
        display: inline-block;
        border-radius: 1.25em;
        margin: 1.875em 0px 0px 0px;
        height: 11.25em;
        width: 12.5em;
        background-size: cover;
        background-position-y: -0.625em;
    }


    //Portadas para todas las Pages (menos Index)//
@mixin portadas{
    position: relative;
    height: 25em;
    width: 100%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    background-attachment: fixed;
    background-size: cover;
    border-bottom:solid #FFFCF2 0.625em;

   //MEDIA QUERIES//
    @include smarthphone{
        font-size: 8px;
        height: 22em;
        background-attachment: scroll;
        background-position:center ;
    }
    @include tablet{
        background-position:center ;
    }
}

 //Tips Grid Imagenes//

@mixin tipsGridImg {
    background-size: 28.125em;
    width: 28.125em;
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 1.25em;
    box-shadow: 0.3125em 0.3125em 0.625em #999;

    //MEDIA QUERIES//
    @include smarthphone{
        height: 13em;
        margin: auto;
        font-size: 9px;
    } 
}

/*Media Queries*/

@mixin smarthphone {
    @media (max-width:480px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width:480px) and (max-width:1366px){
        @content;
    }
}
