footer{
    box-shadow: 0px 0px .625em 0px rgba(0,0,0,0.2);
    background-image: url(../Imagenes/Fondos/fondo_footer.png);
    padding-top: 1em;
    .redes{
        display: flex;
        justify-content: space-between;
        margin: 0em 1em 0 1em;
        border-bottom: 1px  solid;
        p{
            @include textoThambi (1.3em,500);
                color: #686767;
        }
        .redes-logos{
            display: flex;
            justify-content: space-around;
            width: 180px;
        }
    }
    .mapaDeSitio_conteiner{
        margin: 1.5em;
        display: flex;
        justify-content: space-between;
        text-align: justify;

        .logo-footer{
            width: 300px;
            height: 45px;
        }
        h6{
            @include textoThambi (1.3em,500);
            color: #686767;
            text-transform:uppercase;        
        }
        p{
            @include textoThambi (1.3em,400);
            color: #686767;
        }
        .mapaDeSitio-contacto{
            display: flex;
            flex-direction: column;
            p{
                margin-top: .5em;
                @include textoThambi (1em,400);
            }
        }
    }
    .copyright{
        padding: 1em;
        background-color: rgba(105, 105, 105, 0.589);
        color: honeydew;
        box-shadow: 0px 0px .625em 0px rgba(0,0,0,0.2);
        p{
            @include textoThambi (1.1em,400);
        }
    }


}
   