
/*Portadas*/
header{
    background-color: $bg-color;

    //--------MENU--------//
    .logo {
    max-width: 58%;
    img{
        width: 100%; 
        max-width: 16em;
    }
    }
    .navbar{
        background:rgba(219, 219, 219, 0);
        box-shadow: none;
        //MEDIA QUERIES//
        @include smarthphone {
            background-color: rgb(255, 255, 255);
        }
        @include tablet{
            background-color: rgb(255, 255, 255);
        }
    }
    .top-nav-collapse{
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 8px rgba(138, 137, 136, 0.568);
    }
  
    //--------CAROUSEL PORTADA INDEX-------//

    //Imagenes//
    .portadaIndexImg{
        height:100vh;
        width: 100vw;
        object-fit: cover;

        //MEDIA QUERIES//
        @include smarthphone {
            height:45vh;
        }
        @include tablet {
            height:45vh;
        }
    }

    //Textos//
    h2{
    @include tituloRammetto(1.875rem);
    color: $celeste;
        @include tablet {
            font-size: 1.8em;
        }
    }
    .carouselPortada_texto{
        @include textoThambi (1.1875rem,600);
        color: $texto1;
        margin: .5em 0 .5em 0;
        @include tablet {
            font-size: 1.8em;
        }
    }

 
    //Cajas//
    .carouselPortada_caja{
        @include carousel_cajas;
    }
        //Caja 1//
        .carouselPortada_container-1{
            height: 80%;
            .carouselPortada_caja-1{
                margin-left: 0%;
            }
        }
        .carouselPortada_botones{
            display: flex;
            justify-content: space-around;
        }
        //Caja 2 y 3//
        .carouselPortada_container-2{
            height: 70%;
            .carouselPortada_caja-2{
                margin-left: 50%;
            }
        }
        .carouselPortada_container-3{
            height: 85%;
            .carouselPortada_caja-3{
                margin-left: 0%;
            }
        }

    //--------PORTADAS TODAS LAS PAGINAS (menos Index)--------//
    .portada_Container{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        .portada_Caja{
            @include portadas;
        }

        //Portada Registro//
        .portada_Imagen-Registro{
            background-image: url(../Imagenes/Portadas/portada_registro.jpeg);
            background-position-y:-10em;

            //MEDIA QUERIES//
            @include smarthphone{
                background-position-y:1.2em;
            }
        }
        //Portada Colabora//
        .portada_Imagen-Colabora{
            background-image: url(../Imagenes/Portadas/portada_colabora.jpeg);
            background-position-y:-13em;

            //MEDIA QUERIES//
            @include smarthphone{
                background-position-y:1em;
            }
        }
        //Portada Reencuentro//
        .portada_Imagen-Reencuentro{
            background-image: url(../Imagenes/Portadas/portada_reencuentro.jpeg);
            background-position-y:-5em;

            //MEDIA QUERIES//
            @include smarthphone{
                background-position-y:3em;
            }
        }
        //Portada Tips//
        .portada_Imagen-Tips{
            background-image: url(../Imagenes/Portadas/portada_tips.jpeg);
            background-position:center;

            //MEDIA QUERIES//
            @include smarthphone{
                background-position-y:0em;
            }
        }
        //Portada Microchip//
        .portada_Imagen-Microchip{
            background-image: url(../Imagenes/Portadas/portada_microchip.jpeg);
            background-position-y:-8em;

            //MEDIA QUERIES//
            @include smarthphone{
                background-position-y:1em;
            }
        }
    }
}

