//Imagen Logo//
header{
    .logo {
    max-width: 58%;
    img{
        width: 100%; 
        max-width: 20em;
    }
    }
    .navbar{
        background:$bg-color;
    }
  
    //carousel index//
        //caja1//
    .carouselPortada_container-1{
        height: 75%;
        .carouselPortada_caja-1{
            @include carousel_cajas(50%);
            //Titulos//
            h2{
                @include tituloRammetto(1.875rem,400);
                color: $celeste;
            }
            p{
                @include textoThambi (1.1875rem,600);
                color: $texto1;
            }
            .carouselPortada_botones{
                @include flex;
                justify-content: space-around;
            }
        }
    }
    //Caja 2 y 3//
    .carouselPortada_container-2{
        height: 70%;
        .carouselPortada_caja-2{
            @include carousel_cajas(50%);

            h2{
                @include tituloRammetto(1.875rem,400);
                color: $celeste;
            }
            p{
                @include textoThambi (1.1875rem,600);
                color: $texto1;
            }
        }
    }
    .carouselPortada_container-3{
        height: 70%;
        .carouselPortada_caja-3{
            @include carousel_cajas(0%);
            h2{
                @include tituloRammetto(1.875em,400);
                color: $celeste;
            }
            p{
                @include textoThambi (1.1875em,600);
                color: $texto1;
            }
        }
    }
    //Portadas para todas las Pages (menos Index)//
    .portada{
        position: relative;
        width: 100%;
        font-size: 16px;
        display: flex;
        justify-content: center;
        //Portada Registro.html//
        .portada_Registro{
            @include portadas;
            background-image: url(../Imagenes/Portadas/portada_registro.jpeg);
            background-position-y:-14em;
            @include smarthphone{
                background-position-y:-1em;
            }
        }
        /*Portada Colabora*/
        .portada_Colabora{
            @include portadas;
            background-image: url(../Imagenes/Portadas/portada_colabora.jpeg);
            background-position-y:-5em;
            @include smarthphone{
                background-position-y:1.5em;
            }
        }
        /*Portada Reencuentro*/
        .portada_Reencuentro{
            @include portadas;
            background-image: url(../Imagenes/Portadas/portada_reencuentro.jpeg);
            background-position-y:-8em;
            border-bottom:solid #FFFCF2 0.625em;
            @include smarthphone{
                background-position-y:1.5em;
            }
        }
        /*Portada Tips*/
        .portada_Tips{
            @include portadas;
            background-image: url(../Imagenes/Portadas/portada_tips.jpeg);
            background-position-y:-11.25em;
            border-bottom:solid #FFFCF2 0.625em;
            @include smarthphone{
                background-position-y:1em;
            }
        }
    }
}

