.notfound{
    background-image: url(../Imagenes/notfound.jpeg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    padding-top: 2em;
    @include smarthphone{
        font-size: 9px;
        background-position-x:-12em ;
    }

    .notfound_logo{
        width: 35%;
        margin-left: auto;
        background-image: url(../Imagenes/Logos/logo.png);
        height: 5em;
        background-size: contain;
        background-repeat: no-repeat;
        @include smarthphone{
            width: 45%;
        }
    }
   
    .notfound_Caja{
        margin-top: 9%;
        margin-left: 50%;
        width: 37.5em;
        background-color: #a7a7a421;
        border-radius:2.5em;
        box-shadow: 0.1875em 0.1875em 0.5em rgb(70, 67, 53);
        border: rgb(255, 255, 255) solid;
        padding: 1em;

        h1{
            @include tituloRammetto (3.5em);
            color: $celeste;

        }
        p{
            font-size: 1.3em;
        }

        @include smarthphone{
            margin: 70% auto 0em auto;
        }
        @include tablet{
            margin: 70% auto 0em auto;
        }
    }   
    .notfound_botones{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1em;
    }

}