main{
    font-size: 16px;
    .responsive{
        @include smarthphone{
            display: none;
        }
    }

    .Inicio_Index{
        margin-top: 5em;
        font-size:16px;
            @include smarthphone{
                font-size:10px;
                margin-top: 3em;
            }
        .Inicio_Index-Texto{
            padding: 0 18.75em 2em 18.75em;
            p{
                @include textoThambi (1.4em,500);
                        color: rgb(122, 117, 117);
            }
                @include smarthphone{
                    padding: 0 .5em 1em 1.5em;
                }
        } 
        //Seccion: ¿Quienes Somos?//
        .Inicio_Index-Container{
            width: 80%;
            display: flex;
            justify-content: space-around;
            margin:auto;
                @include smarthphone{
                width: 100%;
                }

            .Inicio_Index-Caja {
                display: inline-block;
                width: 15em;
                text-align: center;
                transition: 1s;
                cursor: pointer;
                    @include smarthphone{
                    font-size:7px;
                    }
                &:hover{
                    transform: translateY(-15px);
                    .Inicio_Index-Img1 {
                        background-image: url(../Imagenes/Gif/1.gif);
                    }
                    .Inicio_Index-Img2{
                        background-image: url(../Imagenes//Gif/2.gif);
                    }
                    .Inicio_Index-Img3{
                        background-image: url(../Imagenes/Gif/3.gif);
                    }
                }
                    .Inicio_Index-Img1 {
                    @include imagenes_animadas;
                    background-image: url(../Imagenes//Gif/1.jpg);
                    }
                    .Inicio_Index-Img2 {
                    @include imagenes_animadas;
                    background-image: url(../Imagenes//Gif/2.jpg);

                    }
                    .Inicio_Index-Img3 {
                        @include imagenes_animadas;
                        background-image: url(../Imagenes//Gif/3.jpg);
                        }
                } 
                    .Inicio_Index-Texto {
                        font-size: 16px;
                        box-shadow: 0px 0px .625em 0px rgba(0,0,0,0.2);
                        padding: 7.5rem 1.5em 1.5em 1.5em;
                        border-radius: 1.25em;
                        background: rgb(255, 255, 255);
                        margin: -7.5em 0 0 0;
                        line-height: 1.1875em;
                         @include smarthphone{
                        font-size:9px;
                        padding: 4.5rem 1em 1em 1em;
                        }
                        h3 {
                            margin: .625em 0px .625em 0px;
                            color: #81818d;
                            @include tituloRammetto (1.125em, 400);
                                @include smarthphone{
                                font-size:11px;
                                margin: 0;
                                }
                        }
                        p{
                            @include textoThambi (1.0625em,500);
                            color: rgb(122, 117, 117);
                        }
                    }
                }
            }
            .wave{
                height: 8em; 
                overflow: hidden;
                svg{
                    height: 100%; 
                    width: 100%;
                    path{
                        stroke: none; 
                        fill:#F6F4EE;
                    }
                }
                @include smarthphone{
                    font-size: 7px;
                }
        }
    }

    //Seccion:Sobre Nosotros//
    #SobreNosotros_Container{
        font-size: 16px;
        background-color: hsl(60, 100%, 100%);
        padding-top: 3.75em;
        @include smarthphone{
            font-size: 12px;
        }
       
        .SobreNosotros_article {
            padding:2em 0em 1.25em 0em;
            display: flex;
            justify-content: space-around;
            margin-bottom: 1.25em;
            @include smarthphone{
                padding:0em 0em .5em 0em;
            }
           
            .SobreNosotros_texto{
                width: 40.625em;
                margin-top: 1.875em;
                text-align: justify;
                @include smarthphone{
                    margin-top: 1em;
                }
               
                .SobreNosotros_titulo{
                    @include textoThambi (1.625em,900);
                    color: $textoSub;
                    @include smarthphone{
                        margin-left: 1em;
                        font-size: 14px;
                    }
                }
                .SobreNosotros_p{
                    @include textoThambi (1.25em, 400);
                    line-height: 1.7em;
                    margin-top:1.875em;
                    color: $texto1;
                    @include smarthphone{
                        margin-top: 1em;
                        padding: 0 1em 0 1em;
                        font-size: 15px;
                        margin-top:.5em;
                    }

                }
            }
            .SobreNosotros_imagen{
                width: 25em;
                img{
                    width: 26.875em;
                }
                @include smarthphone{
                    display: none;
                }
            }
        }
        //Seccion:Amigos de las mascotas//
        .tarjetas_Container{
            font-size: 16px;
            padding-top: 3.125em;
            padding-bottom: 6.25em;
            background-color: #d8d7d485;
            border-top-left-radius: 30%;
            border-top-right-radius: 30%;
            border-top: solid white 0.625em;
            border-bottom: solid white 0.3125em;
            transform-style: preserve-3d;
            @include smarthphone{
                font-size: 5.5px;
            }
            .tarjetas_Subtitulo{
                @include SubtitulosIndex;
            }
            .tarjetas_Flex{
                display: flex;
                justify-content: space-around;
                -webkit-box-pack: center;
                -webkit-justify-content: space-around;
                -ms-flex-pack: center;
                .tarjeta_Caja{
                    margin: 0.625em;
                    perspective: 800;
                    -webkit-perspective: 800;
                    &:hover .tarjeta{
                        transform: rotateY(180deg);
                    }
                    .tarjeta{
                        width: 18.75em;
                        height: 21.875em;
                        background-color: #FFFCF2;
                        position: relative;
                        transform-style: preserve-3d;
                        -webkit-transition: .9s ease;
                        transition: 1.8s cubic-bezier(0.4, 0.2, 0.2, 1);
                        -webkit-box-shadow: 0em 0.625em 0.9375em -0.3125em rgba(0,0,0,0.65);
                        box-shadow: 0em 0.625em 0.9375em -0.3125em rgba(0,0,0,0.65);
                        border-radius: 1.25em;
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        .adelante,.atras{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top:0;
                            left: 0;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            border-radius: 1.25em;
                        }
                        .adelante{
                            width: 100%;
                        }
                        .card1{
                            background-image: url(../Imagenes/Index/QuienesSomos.png);
                            background-size: cover;
                        }
                        .card2{
                            background-image: url(../Imagenes/Index/NuestroPropósito.png);
                            background-size: cover;
                        }
                        .card3{
                            background-image: url(../Imagenes/Index/PorQueExistimos.png);
                            background-size: cover;
                        }
                        .atras{
                            transform: rotateY(180deg);
                            -webkit-transform: rotateY(180deg);
                            padding: 0.9375em;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;   
                            
                            p{
                                color: rgb(100, 92, 92);
                                font-size: 0.9375em;
                                font-weight: 400;
                                text-align: justify;
                                padding: 0.625em 0.625em 0rem 0.625em;
                                font-family: 'Baloo Thambi 2';
                                @include smarthphone{
                                    font-size: 6.5px;
                                    padding: 0em 0.625em 0rem 0.625em;
                                }
                            } 
                            h2{
                                color: $celeste;
                                @include textoThambi (1.75em, 400);
                                font-weight: 900;
                            }   
                        } 
                    }
                }
            }    
        }
    }
    .Boletin_Imagen{
        font-size: 16px;
        height: 60vh;
        background-image: url(../Imagenes/Index/perrita.jpg);
        background-attachment:fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        @include smarthphone{
            font-size: 6.5px;
            height: 25vh;
            background-attachment:scroll;
            background-position: center;
        }
        .Boletin_Caja{
            border-radius: 1.875em;
            height: 18.75em;
            width: 31.25em;
            margin-left: auto;
            margin-right: 1.875em;
            padding:1.875em 2.5em 0 2.5em;
            background-color: $celeste;
            border-right: solid rgb(157, 219, 214) 0.8125em;
                @include smarthphone{
                    width: 28em;
                    font-size: 7px;
                    height: 18.75em;
                }

            h3{
                @include tituloRammetto (1.75em, 800);
                color: #fdffff;
                margin-bottom: 1.25em;
                @include smarthphone{
                    font-size: 11px;
                    margin-bottom: .9em;
                }
            }
            p{
                @include textoThambi (1.1875em, 400);
                color: rgb(255, 255, 255);
                margin-bottom: 1.625em;
                @include smarthphone{
                    font-size: 11px;
                    margin-bottom: .4em;
                }
            }
                
            .Boletin_Input{
                border: solid #cf840c 0.125em;
                @include smarthphone{
                    font-size: 6px;
                }
            }
            .Boletin_Boton{
                color: rgb(255, 255, 255);
                font-size: 1.0625em;
                font-weight: 900;
                background-color: #ff953d;
                &:hover {
                    background-color: #fc7405;
                    border: solid 0.1875em #fc7405;
                }
            }
        }
    }
    //Seccion: Funcionamiento de la pag//
    .Funcionamiento{
        font-size: 16px;
        padding-top: 4.375em;
        background-color: #F6F4EF;
        @include smarthphone{
            font-size: 7px;
        }
        
        .Funcionamiento_Container{
            display: flex;
            justify-content: space-around;
            padding-top: 5.5em;
            padding-bottom: 4.375em;
            @include smarthphone{
                padding-top: 2em;
                padding-top: 0em;
            }

            .Funcionamiento_Imagen{
                width: 38%;
                @include flex;
                justify-content: center;
                img{
                    width: 31.25em;
                }
                @include smarthphone{
                    display: none;
                }
            }
            .sun{
                height: 9.375em;
                position: relative;
                img{
                    width:9.375em;
                }
                @include smarthphone{
                    display: none;
                }
            }
            .Funcionamiento_Grid{
                padding-top: 3.75em;
                @include smarthphone{ 
                    width: 100%;
                    padding-top: 0em;
                }
                .Funcionamiento_Caja{
                    display: flex;
                    justify-content:center;
                    margin-bottom: 2.9em;
                    @include smarthphone{
                        margin-bottom: 0em;
                    }
                    .Funcionamiento_Numero{
                        @include flex;
                        justify-content: center;
                        background-color:rgb(255, 163, 110);
                        border-radius:100%;
                        width: 2.4em;
                        height: 2.4em;
                        font-size: 1.3em;
                        color: rgb(236, 233, 233);
                        font-weight: 700;
                        @include smarthphone{
                            display: none;
                        }
                    }
                    .Funcionamiento_Texto{
                        width: 25em;
                        margin-left: 3em;
                        @include smarthphone{
                            margin-left:0;  
                            }
                            @include smarthphone{
                                width: 23em;
                                font-size: 12px;
                                flex-direction: column;
                                margin: auto
                            }
                        .Funcionamiento_Texto-p{
                            @include textoThambi(1.25em,500);
                            color: rgb(122, 117, 117);
                                @include smarthphone{
                                    font-size: 14px;                        
                                }
                        }
                        .Funcionamiento_Sub{
                            @include textoThambi (1.7em,800);
                            color: rgb(87, 114, 116);
                                @include smarthphone{
                                margin-top: 1em;
                                }
                        }
                    }
                }
            }
        }
    }
    //Seccion Contáctanos//
    .ContactoIndex_Container{
        font-size: 16px;
        padding: 1em 0 1em 0;
        background-image: url(../Imagenes/Img_PNG/imgFinal.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-color: white;
        @include smarthphone{ 
            font-size: 6px;
            background-attachment:scroll;
            background-position-y:-7px;
            background-size: cover;
        }
        .ContactoIndex_Caja{
            width: 50%;
            padding-left: 1.875em;
            @include smarthphone{ 
                font-size: 6px;
            }
            .ContactoIndex_Subtitulo{
                @include SubtitulosIndex;
            }
            .ContactoIndex_Form{
                border: solid #bea844 .125em;
                margin-bottom: .3125em;
                textarea{
                    height: 6.25em;
                    @include smarthphone{ 
                        height: 1em;
                    }
                }
                @include smarthphone{ 
                    height: 3em;
                    margin-bottom: 1.6em;
                }
            }
        }

    }

       














        
        
        


