/*Index*/
main{
    font-size: 16px;
    .responsive{
        @include smarthphone{
            display: none;
        }
    }
    //-----------SECCION Inicial (cajas)-----------//
    .Inicio_Index{
        padding-top: 8em;
        background-image: linear-gradient(to bottom, #f4fff252,rgba(99, 99, 99, 0.082));

        //MEDIA QUERIES//
        @include smarthphone{
            font-size:10px;
            padding-top: 5em;
        }
        .Inicio_Index-Sub{
            padding: 0 10em 5em 10em;
            p{
                @include textoThambi (1.3em,500);
                color: #686767;
            }

            //MEDIA QUERIES//
            @include smarthphone{
                padding: 0 1em 1em 1.5em;
            }
        } 
        //Cajas informativas//
        .Inicio_Index-Container{
            width: 80%;
            display: flex;
            justify-content: space-around;
            margin:auto;
            margin-bottom: 4em;

                //MEDIA QUERIES//
                @include smarthphone{
                width: 100%;
                }

            .Inicio_Index-Caja {
                display: inline-block;
                width: 15em;
                text-align: center;
                transition: 1s;
                cursor: pointer;

                //MEDIA QUERIES//
                @include smarthphone{
                font-size:7px;
                }

                //Imagenes//
                .Inicio_Index-Imagen{
                    @include imagenes_animadas;
                    background-position: center;
                }
                .Inicio_Index-Img1 {
                background-image: url(../Imagenes/Index/registro.png);
                }
                .Inicio_Index-Img2 {
                background-image: url(../Imagenes/Index/colabora.jpg);
                }
                .Inicio_Index-Img3 {
                background-image: url(../Imagenes/Index/tips.jpg);
                }


                &:hover{
                    transform: translateY(-15px);
                    .Inicio_Index-Img1 {
                        background-image: url(../Imagenes/Index/gif.gif);
                        background-position: center;
                    }
                    .Inicio_Index-Img2{
                        background-image: url(../Imagenes/Index/gif2.gif);
                    }
                    .Inicio_Index-Img3{
                        background-image: url(../Imagenes/Index/gif1.gif);
                    }
                }
            } 

            .Inicio_Index-Texto {
                font-size: 16px;
                box-shadow: 0px 0px .625em 0px rgba(0,0,0,0.2);
                padding: 7.5rem 1.5em 1.5em 1.5em;
                border-radius: 1.25em;
                background: rgb(255, 255, 255);
                margin: -7.5em 0 0 0;
                line-height: 1.1875em;

                //MEDIA QUERIES//
                @include smarthphone{
                font-size:9px;
                padding: 4.5rem 1em 1em 1em;
                }
                h3 {
                    margin: .625em 0px .625em 0px;
                    @include tituloRammetto (1.3em);
                    color: #466572;

                    //MEDIA QUERIES//
                    @include smarthphone{
                    font-size:11px;
                    margin: 0;
                    }
                }
            }
        }
    }
    //--------OLA-------//
        .wave{
            height: 8em; 
            overflow: hidden;
            svg{
                height: 100%; 
                width: 100%;
                path{
                    stroke: none; 
                    fill:#FFFCF2;
                }
                .footer{
                    stroke: none; 
                    fill:#F4F4F4;
                }
            }
            //MEDIA QUERIES//
            @include smarthphone{
                font-size: 7px;
            }
        }
    }
    .colabora-wave{
    background-color: $bg-color;
    }

    //-----------Seccion: ¿Como podemos ayudarte?----------//
    .funcionamiento{
        background-image: url(../Imagenes/Fondos/fondo_animales.png);
        font-size: 16px;
        padding-top: 6em;

        //MEDIA QUERIES//
        @include smarthphone{
            font-size: 7px;
        }
        
        .Funcionamiento_Container{
            display: flex;
            justify-content: space-between;
            padding-bottom: 8em;

            //MEDIA QUERIES//
            @include smarthphone{
                padding-top: 2em;
                font-size: 10px;
                justify-content: center;
            }

            .Funcionamiento_Imagen{
                width: 45%;
                border-right: solid 10px #85b1a2;
                border-bottom: solid 10px #85b1a2;
                @include flex;
                justify-content: center;
                padding: 2.5em 0 2.5em 0;
                margin-top: 7em;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                background-color: rgb(250, 249, 242);
                height:31.25em;
                box-shadow: 0 0.625em 1.875em 0 rgba(114, 111, 102, 0.4);
                img{
                    width: 40em;
                }

                //MEDIA QUERIES//
                @include smarthphone{
                    display: none;
                }
            }
            
            .Funcionamiento_Cajas{
                background-color: white;
                width: 45%;
                margin-top: 13em;
                padding: 2.5em 0 2.5em 0;
                border-top-left-radius: 1.5625em;
                border-bottom-left-radius: 1.5625em;
                border-bottom: solid 10px #85b1a2;
                box-shadow: 0 0.625em 1.875em 0 rgba(114, 111, 102, 0.4);

                //MEDIA QUERIES//
                @include smarthphone{ 
                    margin-top: 1em;
                    width: 85%;
                    border-radius: 2em;
                    padding: 1em;
                }
                .Funcionamiento_Caja{
                    display: flex;
                    margin-top: 1em;

                    //MEDIA QUERIES//
                    @include smarthphone{
                        margin-bottom: 0em;
                        margin: auto;
                        justify-content: center;
                    }
                    .Funcionamiento_Numero{
                        @include flex;
                        margin-left: 2em;
                        justify-content: center;
                        background-color:#a1aedb;
                        border-radius:100%;
                        width: 2.2em;
                        height: 2.2em;
                        font-size: 1.3em;
                        color: rgb(236, 233, 233);
                        font-weight: 700;

                        //MEDIA QUERIES//
                        @include smarthphone{
                            display: none;
                        }
                    }
                    .Funcionamiento_Texto{
                        width: 25em;
                        margin-left: 1.5em;
                        text-align: justify;
                        
                        //MEDIA QUERIES//
                        @include smarthphone{
                            width: 23em;
                            font-size: 12px;
                            flex-direction: column;
                            margin:1em 0 .5em 0;  
                            text-align: center;
                            font-weight: 500;
                        }
                        
                        .Funcionamiento_Sub{
                            @include textoThambi (1.7em,800);
                            color: #466572;
                        }
                    }
                }
            }
        }
    }

    //-----------SECCION: Mascotas aun perdidas-----------//
    .mascotasExtraviadas_container{
        background-image: linear-gradient(to top, #ffffff, white, #FFFCF2);
        padding: 2em 0 8em 0;

        //MEDIA QUERIES//
        @include smarthphone{
        font-size: 10px;   
        padding: 0em 0em 3em 0em;    
        }

        h3{
            @include textoThambi (2em,800);
            padding: 0 7em 2.5em 7em;
            color: #686767; 

            //MEDIA QUERIES//
            @include smarthphone{
                padding: 1em
            }
        }

        .mascotasExtraviadas_cajaConteiner{
            margin: auto;
            width: 85%;
            display: flex;
            justify-content: space-around;

            //MEDIA QUERIES//
            @include smarthphone{
                width: 93%;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows:50% 50%;
                gap: 1.5em;
            }
            .mascotasExtraviadas_caja{
                box-shadow: 0 0.625em 1.875em 0 rgba(114, 111, 102, 0.4);
                width: 14.375em;
                padding: 1.5em;
                border-radius: 1.5625em;

                //MEDIA QUERIES//
                @include smarthphone{
                font-size: 11px; 
                margin: auto;
                }
    
                .mascotasExtraviadas_caja-img{
                    border: solid #a1aedb .30em;
                    width: 9.375em;
                    height: 9.375em;
                    border-radius: 100%;
                    margin: auto;
                }
                .img1{
                    background-image: url(../Imagenes/Perdidos/perdido2.png);
                    background-size: cover;
                }
                .img2{
                    background-image: url(../Imagenes/Perdidos/perdido1.png);
                    background-size: cover;
                }
                .img3{
                    background-image: url(../Imagenes/Perdidos/perdido6.png);
                    background-size: cover;
                }
                .img4{
                    background-image: url(../Imagenes/Perdidos/perdido3.png);
                    background-size: cover;
                }
                .mascotasExtraviadas_caja-texto{
                    h5{//mismo codigo que las cajas de .Inicio_Index-Texto//
                        margin: 1em 0px .625em 0px;
                        @include tituloRammetto (1.3em);
                         color: #466572; 
                    }
                    p{
                        font-size: 1em;
                        color: $texto1                        
                    }
                }
            }
        }
    }
    //-----------Boletin de mascotas perdidas-----------//

    .Boletin_Imagen{
        font-size: 16px;
        height: 60vh;
        background-image: url(../Imagenes/Index/perrita.jpg);
        background-attachment:fixed;
        background-size: cover;
        display: flex;
        align-items: center;

        //MEDIA QUERIES//
        @include smarthphone{
            margin-top: 5em;
            font-size: 6.5px;
            height: 26vh;
            background-attachment:scroll;
            background-position: center;
        }
        .Boletin_Caja{
            border-radius: 1.875em;
            height: 18.75em;
            width: 31.25em;
            margin-left: auto;
            margin-right: 1.875em;
            padding:1.875em 2.5em 0 2.5em;
            background-color: rgb(255, 250, 233);
            border-right: solid #a1aedb 0.8125em;
            border-bottom: solid #a1aedb 0.8125em;

            //MEDIA QUERIES//
            @include smarthphone{
                width: 27em;
                font-size: 7px;
                height: 18.75em;
                padding:1.5em 1em 0 1em;
            }
            input{
                margin-right: 1.5em;
            }

            h3{
                @include tituloRammetto (1.75em);
                color: #466572;
                margin-bottom: 1.25em;

                //MEDIA QUERIES//
                @include smarthphone{
                    font-size: 11px;
                    margin-bottom: .9em;
                }
            }
            p{
                font-size: 1.3em;
                color: #686767;  
                margin-bottom: 1.625em;

                //MEDIA QUERIES//
                @include smarthphone{
                    font-size: 11px;
                    margin-bottom: .4em;
                }
            }
        }
    }

    //-----------Seccion:Nuestra Historia-----------//
    #SobreNosotros_Container{
        font-size: 16px;
        background-color: hsl(60, 100%, 100%);
        padding-top: 8em;

        //MEDIA QUERIES//
        @include smarthphone{
            font-size: 10px;
            padding-top: 5em;
        }
       
        .SobreNosotros_article {
            display: flex;
            justify-content: center;
            margin: 4em 0 4em 0;

            //MEDIA QUERIES//
            @include smarthphone{
                margin:0em 0em 3em 0em;
            }
           
            .SobreNosotros_texto{
                width: 40.625em;
                text-align: justify;

                //MEDIA QUERIES//
                @include smarthphone{
                    margin-top: 1em;
                }
               
                .SobreNosotros_p{
                    font-size: 1.25em;
                    line-height: 1.7em;
                    color: $texto1;

                    //MEDIA QUERIES//
                    @include smarthphone{
                        margin-top: 1em;
                        padding: 0 1em 0 1em;
                        font-size: 16px;
                        margin-top:.5em;
                    }
                }
            }
            .SobreNosotros_imagen{
                width: 25em;
                img{
                    width: 26.875em;
                }

                //MEDIA QUERIES//
                @include smarthphone{
                    display: none;
                }
            }
        }
        //-----------Seccion:Amigos de las mascotas-----------//
        .tarjetas_Container{
            font-size: 16px;
            padding-top: 3.125em;
            padding-bottom: 6.25em;
            background-color: #d8d7d485;
            border-top-left-radius: 30%;
            border-top-right-radius: 30%;
            border-top: solid rgb(235, 234, 234) 0.625em;
            border-bottom: solid white 0.3125em;
            transform-style: preserve-3d;

                //MEDIA QUERIES//
                @include smarthphone{
                    font-size: 5.5px;
                    border-radius: 0px;
                }
            .tarjetas_Subtitulo{
                @include SubtitulosIndex;
                margin-bottom: 2em;
            }
            .tarjetas_Flex{
                display: flex;
                justify-content: space-around;
                -webkit-box-pack: center;
                -webkit-justify-content: space-around;
                -ms-flex-pack: center;

                //MEDIA QUERIES//
                @include smarthphone{
                    flex-direction: column;
                    font-size: 8px;
                }

                .tarjeta_Caja{
                    margin: 0.625em;
                    perspective: 800;
                    -webkit-perspective: 800;
                        &:hover .tarjeta{
                            transform: rotateY(180deg);
                        }
                    .tarjeta{
                        width: 18.75em;
                        height: 21.875em;
                        background-color: #ffffff;
                        position: relative;
                        transform-style: preserve-3d;
                        -webkit-transition: .9s ease;
                        transition: 1.8s cubic-bezier(0.4, 0.2, 0.2, 1);
                        -webkit-box-shadow: 0em 0.625em 0.9375em -0.3125em rgba(0,0,0,0.65);
                        box-shadow: 0em 0.625em 0.9375em -0.3125em rgba(0,0,0,0.65);
                        border-radius: 1.25em;
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;

                        //MEDIA QUERIES//
                        @include smarthphone{
                        margin: auto;  
                        }

                        .adelante,.atras{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top:0;
                            left: 0;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            border-radius: 1.25em;
                        }
                        .adelante{
                            width: 100%;
                        }
                        .card1{
                            background-image: url(../Imagenes/Index/QuienesSomos.png);
                            background-size: cover;
                        }
                        .card2{
                            background-image: url(../Imagenes/Index/NuestroPropósito.png);
                            background-size: cover;
                        }
                        .card3{
                            background-image: url(../Imagenes/Index/PorQueExistimos.png);
                            background-size: cover;
                        }
                        .atras{
                            transform: rotateY(180deg);
                            -webkit-transform: rotateY(180deg);
                            padding: 0.9375em;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;   
                            
                            p{
                                color: rgb(100, 92, 92);
                                @include textoThambi ( 0.9375em,500);
                                text-align: justify;
                                padding: 0.625em 0.625em 0rem 0.625em;

                                //MEDIA QUERIES//
                                @include smarthphone{
                                    text-align: center;
                                    font-size: 11px;
                                    padding: 0;
                                }
                            } 
                            
                            h2{
                                color: $celeste;
                                @include textoThambi (1.75em, 900);

                                //MEDIA QUERIES//
                                @include smarthphone{
                                    font-size: 15px;
                                    padding: 0em;
                                    margin-bottom: .2em;
                                }
                            }   
                        } 
                    }
                }
            }    
        }
    }


    //--------Seccion anuncios---------//
    .anuncios{
        padding: 1em 1em 0em 1em;
        background-color: #F4F4F4;

        //MEDIA QUERIES//
        @include smarthphone{
            font-size: 10px;
        }
        h3{ //mismo que en mascotas extraviadas//
            @include textoThambi (1.7em,800);
            color: #686767; 
        }

        // Carousel //
            
        .contenedor-principal {
            display: flex;
            align-items: center;
            position: relative;
        
            .flecha-izquierda , .flecha-derecha {
                position: absolute;
                border: none;
                background: rgba(0,0,0,0.3);
                font-size: 40px;
                height: 50%;
                top: calc(50% - 25%);
                line-height: 40px;
                width: 50px;
                color: #fff;
                cursor: pointer;
                z-index: 500;
                transition: .2s ease all;
            }
            
            .flecha-izquierda {
                left: 0;
            }
            
            .flecha-derecha {
                right: 0;
            }
            .flecha-izquierda:hover, .flecha-derecha:hover {
                background: rgba(0,0,0, .9);
            }
        
            .contenedor-carousel {
                width: 100%;
                overflow: hidden;
                scroll-behavior: smooth;
                background-color: #F4F4F4;
                margin-bottom: .6em;
                .carousel {
                    display: flex;
                    flex-wrap: nowrap;
            
                    .pelicula {
                        min-width: 20%;
                        display: flex;
                        align-items: center;
                        margin-left: 2em;
                        margin-right: 2em;
                        transition: .3s ease all;
                        img {
                            width: 80%;
                            vertical-align: top;

                            //MEDIA QUERIES//
                            @include smarthphone{
                                width: 100%;
                            }
                        }
                        &:hover {
                            transform: scale(1.2);
                            transform-origin: center;
                        }
                    }
                }
            }
        }
    }
    
    //---------Blog-----------//
    
    #blog{
        padding: 5em 3em 5em 3em;

        //MEDIA QUERIES//
        @include smarthphone{
            padding: 2em 1em 0em 1em;
            font-size: 10px;
        }
        h3{
            @include textoThambi (1.75em, 600);
            color: $texto1; 
        }
        p{
            font-size: 1.1em;
            margin-bottom: .8em;
            color: $texto1; 

            //MEDIA QUERIES//
            @include smarthphone{
                font-size: 1.2em;
            }
        }
        .card-deck{
        margin-top: 5em;
        @include smarthphone{
            width: 80%;
            margin: auto;            
        }
        .card{

            //MEDIA QUERIES//
            @include smarthphone{
                max-height: 41em;
                margin-top: 2em;
            }
    
            .card-body{
                text-align: justify;

                //MEDIA QUERIES//
                @include smarthphone{
                    text-align: center;
                    margin-bottom: .5em;
                }
                .card-title{
                    @include textoThambi (1.2em,800);
                    color: #466572;

                    //MEDIA QUERIES//
                    @include smarthphone{
                        font-size: 1.4em;
                    }
                }
            }
            img{
                //MEDIA QUERIES//
                @include smarthphone{
                    width: 100%;
                }
            }
        }
    }
}