main{
    font-size: 16px;
    overflow: hidden;
    //Seccion: ¿Quienes Somos?//
    .QuienesSomos_Container{
        padding-top: 7%;
        padding-bottom: 7%;
        background-image: url(../Imagenes/Fondos/fondo_animales.png);
        .QuienesSomos_Texto{
            .QuienesSomos_P{
                @include textoThambi (1.125em, 400);
                color: $texto1;
                margin-top: 1em;
                padding: 0 1em 0 1em ;
            }
            //media queries//
            @include smarthphone{
            font-size: 12px;
            }
        }
        //Carousel con contenido de la pag//

        .QuienesSomos_Carousel{
            height: 35em;
            margin: 0;
            display: grid;
            grid-template-rows: 32em .60em;
            grid-template-columns: 1fr 1.875em 1.875em 1.875em 1fr;
            align-items: center;
            justify-items: center;
            @include smarthphone{
                height: 30em;
                    grid-template-rows: 28em .60em;
            }

            input:nth-of-type(1) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
            input:nth-of-type(1):checked ~ div#carousel_id {
                --position: 1;
            }
            
            input:nth-of-type(2) {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
            }
            input:nth-of-type(2):checked ~ div#carousel_id{
                --position: 2;
            }
            
            input:nth-of-type(3) {
                grid-column: 4 /5;
                grid-row: 2 / 3;
            }
            input:nth-of-type(3):checked ~ div#carousel_id {
                --position: 3;
            }

            #carousel_id {
                @include flex;
                grid-row: 1 / 2;
                grid-column: 1 / 8;
                width: 100vw;
                height: 26.5625em;
                justify-content: center;
                overflow: hidden;
                transform-style: preserve-3d;
                perspective: 37.5em;
                --items: 3;
                --middle: 3;
                --position: 1;
                }
            
                .item1{
                    position: absolute;
                    width: 18.75em;
                    height: 25em;
                    border-radius: 1.25em;
                    box-shadow: .1875em .1875em .5em rgb(70, 67, 53);
                    --r: calc(var(--position) - var(--offset));
                    --abs: max(calc(var(--r) * -1), var(--r));
                    transition: all 0.25s linear;
                    transform: rotateY(calc(-10deg * var(--r)))
                    translateX(calc(-18.75em * var(--r)));
                    z-index: calc((var(--position) - var(--abs)));

            
                    &:nth-of-type(1) {
                        --offset: 1;
                        background-color: $itemCarousel;
                    }
                    &:nth-of-type(2) {
                        --offset: 2;
                        background-color: $itemCarousel
                    }
                    &:nth-of-type(3) {
                        --offset: 3;
                        background-color: $itemCarousel;
                    }
                    .img1{
                        position: relative;
                        height: 13.125em;
                        border-radius: 1.25em;
                        background-size: cover;
                        background-repeat: no-repeat;
                        padding-top: 11.5625em;
                        background-image: url(../Imagenes/Index/ayudaEncuentro.png);
                        .wave{
                            height: 1.875em; 
                            overflow: hidden;
                            svg{
                                height: 100%; 
                                width: 100%;
                                stroke: none; 
                                fill: $itemCarousel;
                            }
                        }
                    }
                    .item1_caja{
                        .item1_Titulo{
                            margin-top: .625em;
                            @include tituloRammetto (1em,800);
                            color: $textoSub;
                            
                        }
                        
                        .item1_Texto{
                            padding: .625em;
                            @include textoThambi (1em, 400);
                            color: $texto1;
                            
                        }
                    }
                    .img2{
                        @extend .img1;
                        background-image: url(../Imagenes/Index/ayudaPerdido.jpeg);
                        }
                    }
                    .img3{
                        @extend .img1;
                        background-image: url(../Imagenes/Index/ayudanos.jpg)!important;
                    }
                    //media queries//
                    @include smarthphone{
                        font-size: 11px;
                        .item1{
                            transform: none;
                        }
                    }
            }
        }
    }

    //Seccion:Sobre Nosotros//
    #SobreNosotros_Container{
        font-size: 16px;
        background-color: hsl(43, 26%, 95%);
        padding-top: 3.75em;

        .SobreNosotros_article {
            padding:2em 0em 1.25em 0em;
            display: flex;
            justify-content: space-around;
            margin-bottom: 1.25em;
            .SobreNosotros_texto{
                width: 40.625em;
                margin-top: 1.875em;
                text-align: justify;

                .SobreNosotros_titulo{
                    @include textoThambi (26px,900);
                    color: $textoSub;
                }
                .SobreNosotros_p{
                    line-height: 35px;
                    @include textoThambi (19px, 400);
                    margin-top:30px;
                    color: $texto1;
                }
            }
            .SobreNosotros_imagen{
                width: 25em;
                img{
                    width: 26.875em;
                }
            }
        }
    
        //Seccion:Amigos de las mascotas//
        .tarjetas_Container{
            font-size: 16px;
            padding-top: 3.125em;
            padding-bottom: 6.25em;
            background-color: #d8d7d485;
            border-top-left-radius: 30%;
            border-top-right-radius: 30%;
            border-top: solid white 0.625em;
            border-bottom: solid white 0.3125em;
            transform-style: preserve-3d;
            .tarjetas_Subtitulo{
                @include SubtitulosIndex;
            }
            .tarjetas_Flex{
                display: flex;
                justify-content: space-around;
                -webkit-box-pack: center;
                -webkit-justify-content: space-around;
                -ms-flex-pack: center;
                .tarjeta_Caja{
                    margin: 0.625em;
                    perspective: 800;
                    -webkit-perspective: 800;
                    &:hover .tarjeta{
                        transform: rotateY(180deg);
                    }
                    .tarjeta{
                        width: 18.75em;
                        height: 21.875em;
                        background-color: #FFFCF2;
                        position: relative;
                        transform-style: preserve-3d;
                        -webkit-transition: .9s ease;
                        transition: 1.8s cubic-bezier(0.4, 0.2, 0.2, 1);
                        -webkit-box-shadow: 0em 0.625em 0.9375em -0.3125em rgba(0,0,0,0.65);
                        box-shadow: 0em 0.625em 0.9375em -0.3125em rgba(0,0,0,0.65);
                        border-radius: 1.25em;
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        .adelante,.atras{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top:0;
                            left: 0;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            border-radius: 1.25em;
                        }
                        .adelante{
                            width: 100%;
                        }
                        .card1{
                            background-image: url(../Imagenes/Index/QuienesSomos.png);
                            background-size: cover;
                        }
                        .card2{
                            background-image: url(../Imagenes/Index/NuestroPropósito.png);
                            background-size: cover;
                        }
                        .card3{
                            background-image: url(../Imagenes/Index/PorQueExistimos.png);
                            background-size: cover;
                        }
                        .atras{
                            transform: rotateY(180deg);
                            -webkit-transform: rotateY(180deg);
                            padding: 0.9375em;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;   
                            p{
                                color: rgb(100, 92, 92);
                                font-size: 0.9375em;
                                font-weight: 400;
                                text-align: justify;
                                padding: 0.625em 0.625em 0rem 0.625em;
                                font-family: 'Baloo Thambi 2';
                            } 
                            h2{
                                color: #108896;
                                font-size: 1.75em;
                                font-weight: 900;
                                font-family: 'Baloo Thambi 2'();
                            }   
                        } 
                    }
                }
            }    
        }
    }
    .Boletin_Imagen{
        font-size: 16px;
        height: 60vh;
        background-image: url(../Imagenes/Index/perrita.jpg);
        background-attachment:fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        .Boletin_Caja{
            border-radius: 1.875em;
            height: 18.75em;
            width: 31.25em;
            margin-left: auto;
            margin-right: 1.875em;
            padding:1.875em 2.5em 0 2.5em;
            background-color: $celeste;
            border-right: solid rgb(157, 219, 214) 0.8125em;
            h3{
                @include tituloRammetto (1.75em, 800);
                color: #fdffff;
                margin-bottom: 1.25em;
            }
            p{
                @include textoThambi (19px, 400);
                color: rgb(255, 255, 255);
                margin-bottom: 26px;
            }
            .Boletin_Input{
                border: solid #cf840c 0.125em;
            }
            .Boletin_Boton{
                color: rgb(255, 255, 255);
                font-size: 1.0625em;
                font-weight: 900;
                background-color: #ff953d;
                &:hover {
                    background-color: #fc7405;
                    border: solid 0.1875em #fc7405;
                }
            }
        }
    }
    //Seccion: Funcionamiento de la pag//
    .Funcionamiento{
        font-size: 16px;
        padding-top: 4.375em;
        .Funcionamiento_Subtitulo{
            @include SubtitulosIndex;
        }
        .Funcionamiento_Container{
            display: flex;
            justify-content: space-around;
            padding-top: 4.375em;
            padding-bottom: 4.375em;
            .Funcionamiento_Imagen{
                width: 38%;
                @include flex;
                justify-content: center;
                img{
                    width: 31.25em;
                }
            }
            .sun{
                height: 9.375em;
                position: relative;
                img{
                    width:9.375em;
                }
            }
            .Funcionamiento_Grid{
                width: 50%;
                .Funcionamiento_Caja{
                    display: flex;
                    justify-content:center;
                    margin-bottom: 2.5em;
                    .Funcionamiento_Numero{
                        @include flex;
                        justify-content: center;
                        background-color: $celeste;
                        border: solid rgba(2, 45, 85, 0.123) 0.1875em;
                        border-radius: 6.25em;
                        width: 2.4em;
                        height: 2.4em;
                        font-size: 1.3em;
                        color: rgb(246, 248, 255);
                        font-weight: 700;
                    }
                    .Funcionamiento_Texto{
                        width: 25em;
                        margin-left: 1.875em;
                        .Funcionamiento_Texto-p{
                            @include textoThambi(1.2em,400);
                            color: $texto1;
                        }
                        .Funcionamiento_Sub{
                        @include textoThambi (1.875em,600);
                        color: $naranjaFuerte;
                        }
                    }
                }
            }
        }
    }
    //Seccion Contáctanos//
    .ContactoIndex_Container{
        font-size: 16px;
        padding-top: 2.5em;
        background-image: url(../Imagenes/Img_PNG/imgFinal.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-color: white;
        .wave_footer{
            height: 50px; 
            overflow: hidden;
            svg{
                height: 100%; 
                width: 100%;
                path{
                    stroke: none; 
                    fill: #E6E4E0;
                }
            }
        }
        .ContactoIndex_Caja{
            width: 50%;
            padding-left: 1.875em;
            .ContactoIndex_Subtitulo{
                @include SubtitulosIndex;
            }
            .ContactoIndex_Form{
                border: solid #bea844 2px;
                margin-bottom: 5px;
            }
        }






        .row1-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 130px;
            .box {
                border-radius: 5px;
                box-shadow: 0px 30px 40px -20px var(--grayishBlue);
                padding: 30px;
                margin: 40px;  
                cursor: pointer;
                transition: 2s;
                p {
                    color: var(--grayishBlue);
                }
                h2 {
                    color: hsl(234, 12%, 34%);
                    font-weight: 600;
                }
                img {
                    float: right;
                }
            }
            .cyan {
                border-top: 3px solid hsl(180, 62%, 55%);
            }
            .red {
                border-top: 3px solid hsl(0, 78%, 62%);
            }
            .blue {
                border-top: 3px solid hsl(212, 86%, 64%);
            }
            .orange {
                border-top: 3px solid hsl(34, 97%, 64%);
            }
        }





        
        
        
        .box:hover{
            transform: translateY(-10px);
        }
        
        
        @media (max-width: 450px) {
            .box {
                height: 200px;
            }
        }
        
        @media (max-width: 950px) and (min-width: 450px) {
            .box {
                text-align: center;
                height: 180px;
            }
        }
        
        
        
        
        
        @media (min-width: 950px) {
            .row1-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 130px;
            }
            
            .row2-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .box-down {
                position: relative;
                top: 150px;
            }
            .box {
                width: 20%;
             
            }
            .header p {
                width: 30%;
            }
            
        }
        
    
}







